/*=======================================================================================================*/
/*SECTIONING*/
/*=======================================================================================================*/

/*About me section*/
.aboutMe {
    height: 100vh;
    background-color: #242424;
    position: relative;
    border-bottom: 1px solid rgba(102, 102, 102, 0.29);
}

/*Service section*/
.service {
    height: 100vh;
    background-color: #242424;
    position: relative;
    border-bottom: 1px solid rgba(102, 102, 102, 0.29);
}

/*Skills section*/
.skills {
    height: 100vh;
    background-color: #242424;
    position: relative;
    border-bottom: 1px solid rgba(102, 102, 102, 0.29);
}

/*Education section*/
.education {
    height: 100vh;
    background-color: #242424;
    position: relative;
    border-bottom: 1px solid rgba(102, 102, 102, 0.29);
}

/*Projects section*/
.projects {
    height: 100vh;
    background-color: #242424;
    position: relative;
    border-bottom: 1px solid rgba(102, 102, 102, 0.29);
}

/*Go Github section*/
.goGithub {
    height: 20vh;
    background-color: #242424;
    position: relative;
    border-bottom: 1px solid rgba(102, 102, 102, 0.29);
}

/*Contact me section*/
.contactMe {
    height: 100vh;
    background-color: #242424;
    position: relative;
}

/*=======================================================================================================*/
/*TITLES*/
/*=======================================================================================================*/

/*titles: About me, Service, Skills, Education, Projects, Contact me*/
.T1, .T2, .T3, .T4, .T5, .T6 {
    position: relative;
    font-size: 72px;
    font-style: normal;
    font-weight: 800;
    color: rgba(102, 102, 102, 0.13);
    line-height: 80px;
    margin: auto;
    text-align: center;
    top: 33px;

}

/*titles: About me, Service, Skills, Education, Projects, Contact me*/
.TT1, .TT2, .TT3, .TT4, .TT5, .TT6 {
    position: relative;
    font-size: 46px;
    font-style: normal;
    color: #FFFFFFFF;
    margin: auto;
    text-align: center;
    top: -34px;

}

/*titles: About me, Service, Skills, Education, Projects, Contact me*/
.ST1, .ST2, .ST3, .ST4, .ST5, .ST6 {
    font-size: 46px;
    color: #F3BC17;
    margin: auto;
    text-align: center;
}


/*=======================================================================================================*/
/*Customized Scrollbar*/
::-webkit-scrollbar {
    width: 0px;
}

/*=======================================================================================================*/


/*=======================================================================================================*/
/*HEADER*/
/*=======================================================================================================*/

/*Customized headding*/
header {
    background: transparent;
    box-shadow: 0px -1px 8px 2px rgba(0, 0, 0, 0.25);
    position: relative;
    height: 80px;
}

/*set list inline*/
header > nav > ul > li {
    display: inline-block;
    padding: 20px;
    color: white;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
}

/*Customized navigatins*/
header > nav {
    position: absolute;
    right: 40px;
    top: 0;
}

/*Added mouse point for list in headder*/
header > nav > ul > li:hover {
    color: #F3BC17;
    cursor: pointer;
}

/*name logo*/
.logo {
    font-size: 30px;
    color: #F3BC17;
    position: absolute;
    left: 120px;
    margin-top: 25px;
}


/*=======================================================================================================*/
/*PAGE 1*/
/*=======================================================================================================*/

/*first page*/
.mainpage {
    width: 100vw;
    height: 100vh;
    background-size: 100%;
    background-position: center center;
    background-color: #242424;
    position: relative;
}

/*hii, I am....*/
.intro1 {
    font-size: 24px;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 2px;
    color: white;
    margin: auto;
    text-align: center;
    position: relative;
    top: 351px;
}

/*Web Developer*/
.intro2 {
    font-size: 64px;
    color: white;
    margin: auto;
    text-align: center;
    position: relative;
    top: 366px;
}

/*Developer*/
.intro3 {
    font-size: 64px;
    color: #F3BC17;
    margin: auto;
    text-align: center;
}

/*Follow me on*/
.followMe {
    font-size: 17px;
    color: #F3BC17;
    margin: auto;
    position: absolute;
    right: -46px;
    transform: rotate(90deg);
    top: 212px;
}

/*line*/
.follDiv{
    border: 2px solid #f3bc17;
    width: 80px;
    transform: rotate(90deg);
    position: absolute;
    right: -14px;
    bottom: 363px;
}

/*Button Hire me*/
.hireme {
    background: #f3bc17;
    width: 171px;
    height: 43px;
    border-radius: 34px;
    font-weight: 700;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    font-size: 20px;
    color: #010101;
    cursor: pointer;
    position: absolute;
    left: -15px;
    right: 0;
    top: 552px;
    bottom: 0;
    margin: auto;
    border: none;
}

.hireme:hover{
    height: 45px;
    transform: translateY(3px);
}

/*image*/
.imgp1{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 6px;
    right: 18px;
    bottom: 106px;
}


/*=======================================================================================================*/
/*ABOUT ME SECTION*/
/*=======================================================================================================*/

/*Hello*/
.hello {
    font-size: 24px;
    color: white;
    position: absolute;
    right: 644px;
    top: 173px;
    margin: auto;
}

/*I AM.....*/
.name {
    font-size: 24px;
    color: white;
    position: absolute;
    right: 370px;
    top: 203px;
    margin: auto;
}

/*Span Name*/
.SName {
    font-size: 24px;
    color: #F3BC17;
    margin: auto;
}

/*About me Paragraph*/
.AboutP {
    font-size: 16px;
    position: absolute;
    color: #ACACAC;
    margin: auto;
    top: 252px;
    right: 348px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}

/*About me Signature*/
.Signature {
    font-size: 48px;
    color: #F3BC17;
    margin: auto;
    position: absolute;
    right: 137px;
    top: 330px;
    font-family: 'Arizonia', cursive;
    font-weight: normal;
}

/*Button downlod CV*/
.dwnlod{
    background: #f3bc17;
    width: 200px;
    height: 43px;
    border-radius: 34px;
    font-weight: 700;
    padding-left: 20px;
    text-align: left;
    font-size: 20px;
    color: #010101;
    cursor: pointer;
    position: absolute;
    left: 0;
    right: -287px;
    top: 0;
    bottom: -591px;
    margin: auto;
    border: none;
}

/*about list*/
.list1{
    position: absolute;
    right: 661px;
    bottom: 99px;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
    font-style: normal;
    font-weight: 550;
    font-size: 16px;
    line-height: 35px;
    color: #FFFFFF;
}

/*details list*/
.list2{
    position: absolute;
    right: 453px;
    bottom: 99px;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 35px;
    color: #FFFFFF;
}

/*my image*/
.imgmy{
    position: absolute;
    width: 326px;
    height: 464px;
    left: 179px;
    top: 178px;
}
/*=======================================================================================================*/
/*SERVICE SECTION*/
/*=======================================================================================================*/

/*paragraph*/
.serp1, .serp2, .serp3, .serp4, .serp5 {
    font-size: 16px;
    position: absolute;
    color: #ACACAC;
    margin: auto;
    top: 117px;
    left: -43px;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    line-height: 20px;
}

/*web design box*/
.webDesign {
    position: absolute;
    width: 389px;
    height: 317px;
    background: #242424;
    left: 150px;
    top: 106px;
    box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.25);
}

/*Customization box*/
.customiz {
    position: absolute;
    margin: auto;
    width: 389px;
    height: 317px;
    background: #242424;
    top: 106px;
    right: 150px;
    box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.25);
}

/*WebDevelopment box*/
.webDevelopment {
    position: absolute;
    margin: auto;
    width: 389px;
    height: 317px;
    background: #242424;
    top: 286px;
    left: 294px;
    box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.25);
}

/*UI/UX Deesign box*/
.UIUX {
    position: absolute;
    margin: auto;
    width: 389px;
    height: 317px;
    background: #242424;
    top: 286px;
    right: 294px;
    box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.25);
}

/*Mobile App Development box*/
.mobileApp {
    position: absolute;
    margin: auto;
    width: 389px;
    height: 202px;
    background: #242424;
    top: 500px;
    left: 0;
    right: 0;
    box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.25);
}

/*Web Design title*/
.t1webDesign {
    font-size: 16px;
    color: #E4EE89;
    margin: auto;
    position: absolute;
    top: 47px;
    left: 42px;
}

/*Customization title*/
.t2customization {
    font-size: 16px;
    color: #FFA500;
    margin: auto;
    position: absolute;
    top: 47px;
    left: 42px;
}

/*Web development title*/
.t3webdevelopment {
    font-size: 16px;
    color: #FD2155;
    margin: auto;
    position: absolute;
    top: 47px;
    left: 42px;
}

/*UI/UX design title*/
.t4UIUX {
    font-size: 16px;
    color: #7ED4F2;
    margin: auto;
    position: absolute;
    top: 47px;
    left: 42px;
}

/*mobile app development title*/
.t5mobileApp {
    font-size: 16px;
    color: #0AF0CD;
    margin: auto;
    position: absolute;
    top: 47px;
    left: 42px;
    line-height: 10px;
}

/*icon images*/
.img1, .img2, .img3, .img4, .img5{
    position: absolute;
    left: 257px;
    top: 7px;
    width: 100px;
    height: 100px;
}

/*style line for web designing*/
.syl1{
    position: absolute;
    width: 389px;
    height: 0px;
    left: 0px;
    top: 1px;
    border: 1px solid #E4EE89;;
    background-color: #E4EE89;;
}

/*style line for Customization*/
.syl2{
    position: absolute;
    width: 389px;
    height: 0px;
    left: 0px;
    top: 1px;
    border: 1px solid #FFA500;
    background-color: #FFA500;
}

/*style line for web development*/
.syl3{
    position: absolute;
    width: 389px;
    height: 0px;
    left: 0px;
    top: 1px;
    border: 1px solid #FD2155;
    background-color: #FD2155;
}

/*style line for UI/UX design*/
.syl4{
    position: absolute;
    width: 389px;
    height: 0px;
    left: 0px;
    top: 1px;
    border: 1px solid #7ED4F2;
    background-color: #7ED4F2;
}

/*style line for mobile app development*/
.syl5{
    position: absolute;
    width: 389px;
    height: 0px;
    left: 0px;
    top: 1px;
    border: 1px solid #0AF0CD;
    background-color: #0AF0CD;
}

/*=======================================================================================================*/
/*SKILLS SECTION*/
/*=======================================================================================================*/

/*TiTle for Languages*/
.Lang {
    font-size: 24px;
    color: #F3BC17;
    position: absolute;
    margin: auto;
    left: 103px;
    top: 138px;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
}

/*TiTle for tools*/
.tools {
    font-size: 24px;
    color: #F3BC17;
    position: absolute;
    margin: auto;
    left: 103px;
    top: 526px;
    font-family: 'Encode Sans Semi Expanded',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
}

/*Span Language*/
.Lang2 {
    font-size: 24px;
    color: white;
    margin: auto;
}

/*Span tools*/
.tools2 {
    font-size: 24px;
    color: white;
    margin: auto;
}

/*language img1*/
.lang1img{
    position: absolute;
    width: 74px;
    height: 71px;
    left: 161px;
    top: 231px;

}

/*language img2*/
.lang2img{
    position: absolute;
    width: 60px;
    height: 60px;
    left: 277px;
    top: 236px;
}

/*language img3*/
.lang3img{
    position: absolute;
    width: 60px;
    height: 60px;
    left: 394px;
    top: 236px;
}

/*language img4*/
.lang4img{
    position: absolute;
    width: 60px;
    height: 60px;
    left: 507px;
    top: 236px;
}

/*language img5*/
.lang5img{
    position: absolute;
    width: 60px;
    height: 60px;
    left: 620px;
    top: 236px;
}

/*language img6*/
.lang6img{
    position: absolute;
    width: 60px;
    height: 60px;
    left: 167px;
    top: 484px;
}

/*language img7*/
.lang7img{
    position: absolute;
    width: 60px;
    height: 60px;
    left: 277px;
    top: 484px;
}

/*language img8*/
.lang8img{
    position: absolute;
    width: 180px;
    height: 90px;
    left: 387px;
    top: 484px;
}

/*div for adjust image line 1*/
.langdiv1{
    position: absolute;
    left: -50px;
    top: 1px;
}

/*div for adjust image line 2*/
.langdiv2{
    position: absolute;
    left: -50px;
    top: -98px;
}

/*tool img1*/
.tool1img{
    position: absolute;
    left: 167px;
    top: 124px;
    width: 60px;
    height: 60px;
}

/*tool img2*/
.tool2img{
    position: absolute;
    left: 277px;
    top: 124px;
    width: 60px;
    height: 60px;
}

/*tool img3*/
.tool3img{
    position: absolute;
    left: 387px;
    top: 124px;
    width: 60px;
    height: 60px;
}

/*tool img4*/
.tool4img{
    position: absolute;
    left: 497px;
    top: 124px;
    width: 60px;
    height: 60px;
}

/*tool img5*/
.tool5img{
    position: absolute;
    left: 607px;
    top: 124px;
    width: 60px;
    height: 60px;
}

/*tool img6*/
.tool6img{
    position: absolute;
    left: 717px;
    top: 124px;
    width: 60px;
    height: 60px;
}

/*div for adjust image line 3*/
.tooldiv{
    position: absolute;
    left: -50px;
    top: 485px;
}

/*line break*/
.linebreak{
    position: absolute;
    width: 532.01px;
    height: 0;
    left: 585px;
    top: 410px;
    border: 3px solid #242424;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    transform: rotate(-90deg);
}

/*side div 1*/
.d1{
    position: absolute;
    width: 190px;
    height: 150px;
    right: 382px;
    top: 215px;
    background: #242424;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

/*side div 2*/
.d2{
    position: absolute;
    width: 190px;
    height: 150px;
    right: 89px;
    top: 215px;
    background: #242424;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

/*side div 3*/
.d3{
    position: absolute;
    width: 190px;
    height: 150px;
    right: 382px;
    top: 435px;
    background: #242424;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

/*numbers in box*/
.n1, .n2, .n3{
    position: absolute;
    width: 51px;
    height: 50px;
    left: 28px;
    top: -4px;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: #F3BC17;
}

/*+ in box*/
.plus1, .plus2, .plus3 {
    position: absolute;
    width: 22px;
    height: 16px;
    left: 73px;
    top: -14px;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 45px;
    display: flex;
    align-items: center;
    color: #F3BC17;
}

/*instructions for boxes*/
.completePro, .yearEx, .happyCus {
    position: absolute;
    width: 104px;
    height: 28px;
    left: 70px;
    top: 83px;
    font-family: 'Encode Sans Semi Expanded', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 10px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

/*set style lines*/
.line1, .line2, .line3{
    position: absolute;
    width: 35px;
    height: 0px;
    left: 25px;
    top: 97px;
    background-color: #FFFFFF;
    border: 1.5px solid #FFFFFF;
}

/*title line(Language and framework)*/
.titleLine1{
    position: absolute;
    width: 303.01px;
    height: 0px;
    left: 105px;
    top: 173px;
    background-color: #ffffff;
    border: 2px solid #F3BC17;
}

/*title line(tools)*/
.titleLine2{
    position: absolute;
    width: 70px;
    height: 0px;
    left: 102px;
    top: 555px;
    background-color: #FFFFFF;
    border: 2px solid #F3BC17;
}
/*=======================================================================================================*/
/*EDUCATION SECTION*/
/*=======================================================================================================*/

/*Description Education evels*/
.E1, .E2, .E3, .E4, .E5{
    font-size: 16px;
    color: white;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 13px;
    text-align: center;
}

/*Year for E1*/
.EY1 {
    font-size: 20px;
    color: #E4EE89;
    position: absolute;
    margin: auto;
    bottom: 8px;
    left: 0;
    right: 0;
    text-align: center;
}

/*Year for E2*/
.EY2 {
    font-size: 20px;
    color: #23C54B;
    position: absolute;
    margin: auto;
    bottom: 8px;
    left: 0;
    right: 0;
    text-align: center;
}

/*Year for E3*/
.EY3 {
    font-size: 20px;
    color: #FD2155;
    position: absolute;
    margin: auto;
    bottom: 8px;
    left: 0;
    right: 0;
    text-align: center;
}

/*Year for E4*/
.EY4 {
    font-size: 20px;
    color: #0AF0CD;
    position: absolute;
    margin: auto;
    bottom: 8px;
    left: 0;
    right: 0;
    text-align: center;
}

/*Year for E5*/
.EY5 {
    font-size: 20px;
    color: #7ED4F2;
    position: absolute;
    margin: auto;
    bottom: 8px;
    left: 0;
    right: 0;
    text-align: center;
}

.edutree{
    position: absolute;
    width: 511px;
    height: 0px;
    left: 510px;
    top: 422px;
    background-color: #F3BC17;
    border: 2px solid #F3BC17;
    transform: rotate(-90deg);
}

/*section1 (Digree)*/
.EE1{
    box-sizing: border-box;
    position: absolute;
    width: 428px;
    height: 95px;
    right: 288px;
    top: 153px;
    border: 2px solid #F3BC17;
}

/*section2 (IT dip)*/
.EE2{
    box-sizing: border-box;
    position: absolute;
    width: 428px;
    height: 95px;
    left: 288px;
    top: 265.5px;
    border: 2px solid #F3BC17;
}

/*section3 (Eng dip)*/
.EE3{
    box-sizing: border-box;
    position: absolute;
    width: 428px;
    height: 95px;
    right: 288px;
    top: 378px;
    border: 2px solid #F3BC17;
}

/*section4 (A/L)*/
.EE4{
    box-sizing: border-box;
    position: absolute;
    width: 428px;
    height: 95px;
    left: 288px;
    top: 490.5px;
    border: 2px solid #F3BC17;
}

/*section5 (O/L)*/
.EE5{
    box-sizing: border-box;
    position: absolute;
    width: 428px;
    height: 95px;
    right: 288px;
    top: 603px;
    border: 2px solid #F3BC17;
}

/*circle1*/
.cir1{
    position: absolute;
    width: 10px;
    height: 10px;
    right: 737px;
    top: 197px;
    background: #F3BC17;
    border-radius: 100%;
}

/*circle2*/
.cir2{
    position: absolute;
    width: 10px;
    height: 10px;
    left: 737px;
    top: 305.5px;
    background: #F3BC17;
    border-radius: 100%;
}

/*circle3*/
.cir3{
    position: absolute;
    width: 10px;
    height: 10px;
    right: 737px;
    top: 423px;
    background: #F3BC17;
    border-radius: 100%;
}

/*circle4*/
.cir4{
    position: absolute;
    width: 10px;
    height: 10px;
    left: 737px;
    top: 535.5px;
    background: #F3BC17;
    border-radius: 100%;
}

/*circle5*/
.cir5{
    position: absolute;
    width: 10px;
    height: 10px;
    right: 737px;
    top: 649.5px;
    background: #F3BC17;
    border-radius: 100%;
}

.adjustEdu{
    position: absolute;
    left: 0;
    right: 0;
    top: -19px;
}
/*=======================================================================================================*/
/*PROJECTS SECTION*/
/*=======================================================================================================*/


/*=======================================================================================================*/
/*GITHUB LINK*/

/*Github link box paragraph*/
.githubP {
    font-size: 24px;
    color: rgba(255, 255, 255, 0.5);
    margin: auto;
    position: absolute;
    top: 17px;
    left: 0;
    right: 0;
    text-align: center;
}

/*Button Github*/
.github{
    background: #f3bc17;
    width: 150px;
    height: 43px;
    border-radius: 34px;
    font-weight: 700;
    padding-left: 20px;
    text-align: left;
    font-size: 20px;
    color: #010101;
    cursor: pointer;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: -64px;
    margin: auto;
    border: none;
}

/*=======================================================================================================*/
/*CONTACT ME SECTION*/
/*=======================================================================================================*/

/*Have a Project......*/
.contactP1 {
    font-size: 16px;
    color: #F3BC17;
    position: absolute;
    margin: auto;
    top: 90px;
}

/*Let's make......*/
.contactP2 {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    margin: auto;
    top: 125px;
}

/*Email*/
.email1 {
    font-size: 16px;
    color: rgb(255, 255, 255);
    position: absolute;
    margin: auto;
    top: 300px;
}

/*Email*/
.email2 {
    font-size: 16px;
    color: rgb(255, 255, 255);
    position: absolute;
    margin: auto;
    top: 320px;
}

/*Address*/
.address1 {
    font-size: 16px;
    color: rgb(255, 255, 255);
    position: absolute;
    margin: auto;
    top: 350px;
}

/*Address*/
.address2 {
    font-size: 16px;
    color: rgb(255, 255, 255);
    position: absolute;
    margin: auto;
    top: 370px;
}

/*Contact*/
.contact1 {
    font-size: 16px;
    color: rgb(255, 255, 255);
    position: absolute;
    margin: auto;
    top: 400px;
}

/*Contact*/
.contact2 {
    font-size: 16px;
    color: rgb(255, 255, 255);
    position: absolute;
    margin: auto;
    top: 420px;
}

/*Button send Massages*/
.send{
    background: #f3bc17;
    buttonwidth: 238px;
    height: 47px;
    border-radius: 34px;
    font-weight: 800;
    padding-left: 30px;
    padding-right: 70px;
    text-align: left;
    font-size: 20px;
    color: #010101;
    cursor: pointer;
}

/*=======================================================================================================*/
/*FOOTER*/
/*=======================================================================================================*/

/*Customized footer*/
footer {
    position: absolute;
    height: 100px;
    width: 100%;
    background-color: #242424;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666666;
    border-top: 1px solid rgba(102, 102, 102, 0.29);
    border-bottom: 1px solid rgba(102, 102, 102, 0.29);
}

/*Customize footer for bottom*/
html {
    position: relative;
    min-height: 100%;
}

/*footer img*/
.fImg1, .fImg2, .fImg3, .fImg4{
    width: 60px;
    height: 60px;
}

/*footer text*/
.footertext{
    position: absolute;
    bottom: -25px;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    text-align: center;
}

/*adjust footer image*/
.footerIMG{
    top: 9px;
    position: absolute;
}
