/*first page*/
.mainpage{
    width: 100vw;
    height: 100vh;
    /*background: url("/accets/img/maini.jpg");
    background-size: 100%;*/
     background-color: #242424;
    position: relative;
}

/*name logo*/
.logo{
    font-size: 30px;
    color:  #F3BC17;
    margin: auto;
    position: absolute;
}

/*hii, I am....*/
.intro1{
    font-size: 37px;
    color: white;
    margin: auto;
    text-align: center;
}

/*Web Developer*/
.intro2{
    font-size: 70px;
    color: white;
    margin: auto;
    text-align: center;
}

/*Follow me on*/
.followMe{
    font-size: 20px;
    color: #F3BC17;
    margin: auto;
}

/*About me section*/
.aboutMe{
    height: 100vh;
    background-color: #242424;
    position: relative;
}