/*=======================================================================================================*/
/*SECTIONING*/
/*=======================================================================================================*/

/*About me section*/
.aboutMe {
    height: 100vh;
    background-color: #242424;
    position: relative;
    border-bottom: 1px solid rgba(102, 102, 102, 0.29);
}

/*Service section*/
.service {
    height: 100vh;
    background-color: #242424;
    position: relative;
    border-bottom: 1px solid rgba(102, 102, 102, 0.29);
}

/*Skills section*/
.skills {
    height: 100vh;
    background-color: #242424;
    position: relative;
    border-bottom: 1px solid rgba(102, 102, 102, 0.29);
}

/*Education section*/
.education {
    height: 100vh;
    background-color: #242424;
    position: relative;
    border-bottom: 1px solid rgba(102, 102, 102, 0.29);
}

/*Projects section*/
.projects {
    height: 100vh;
    background-color: #242424;
    position: relative;
    border-bottom: 1px solid rgba(102, 102, 102, 0.29);
}

/*Go Github section*/
.goGithub {
    height: 20vh;
    background-color: #242424;
    position: relative;
    border-bottom: 1px solid rgba(102, 102, 102, 0.29);
}

/*Contact me section*/
.contactMe {
    height: 100vh;
    background-color: #242424;
    position: relative;
}

/*=======================================================================================================*/
/*TITLES*/
/*=======================================================================================================*/

/*titles: About me, Service, Skills, Education, Projects, Contact me*/
.T1, .T2, .T3, .T4, .T5, .T6 {
    font-size: 70px;
    color: rgba(102, 102, 102, 0.15);
    margin: auto;
    text-align: center;
}

/*titles: About me, Service, Skills, Education, Projects, Contact me*/
.TT1, .TT2, .TT3, .TT4, .TT5, .TT6 {
    font-size: 44px;
    color: #FFFFFFFF;
    margin: auto;
    text-align: center;
}

/*titles: About me, Service, Skills, Education, Projects, Contact me*/
.ST1, .ST2, .ST3, .ST4, .ST5, .ST6 {
    font-size: 44px;
    color: #F3BC17;
    margin: auto;
    text-align: center;
}


/*=======================================================================================================*/
/*Customized Scrollbar*/
::-webkit-scrollbar {
    width: 0px;
}

/*=======================================================================================================*/


/*=======================================================================================================*/
/*HEADER*/
/*=======================================================================================================*/

/*Customized headding*/
header {
    background: transparent;
    box-shadow: 0px -1px 8px 2px rgba(0, 0, 0, 0.25);
    position: relative;
    height: 80px;
}

/*set list inline*/
header > nav > ul > li {
    display: inline-block;
    padding: 20px;
    color: white;
    font-size: 16px;
}

/*Customized navigatins*/
header > nav {
    position: absolute;
    right: 25px;
    top: 0;
}

/*Added mouse point for list in headder*/
header > nav > ul > li:hover {
    color: #F3BC17;
    cursor: pointer;
}

/*name logo*/
.logo {
    font-size: 30px;
    color: #F3BC17;
    position: absolute;
    left: 120px;
    margin-top: 25px;
}


/*=======================================================================================================*/
/*PAGE 1*/
/*=======================================================================================================*/

/*first page*/
.mainpage {
    width: 100vw;
    height: 100vh;
    background-size: 100%;
    background-position: center center;
    background-color: #242424;
    position: relative;
}

/*hii, I am....*/
.intro1 {
    font-size: 24px;
    color: white;
    /*margin: auto;*/
    text-align: center;
    margin-top: 415px;
}

/*Web Developer*/
.intro2 {
    font-size: 64px;
    color: white;
    margin: auto;
    text-align: center;
}

/*Developer*/
.intro3 {
    font-size: 64px;
    color: #F3BC17;
    margin: auto;
    text-align: center;
}

/*Follow me on*/
.followMe {
    font-size: 20px;
    color: #F3BC17;
    margin: auto;
}

/*Button Hire me*/
.hireme{
    background: #f3bc17;
    buttonwidth: 171px;
    height: 45px;
    border-radius: 34px;
    font-weight: 700;
    padding-left: 30px;
    padding-right: 30px;
    text-align: left;
    font-size: 16px;
    color: #010101;
    cursor: pointer;
}

/*=======================================================================================================*/
/*ABOUT ME SECTION*/
/*=======================================================================================================*/

/*Hello*/
.hello {
    font-size: 24px;
    color: white;
    position: absolute;
    right: 710px;
    top: 211px;
    margin: auto;
}

/*I AM.....*/
.name {
    font-size: 24px;
    color: white;
    position: absolute;
    right: 430px;
    top: 250px;
    margin: auto;
}

/*Span Name*/
.SName {
    font-size: 24px;
    color: #F3BC17;
    margin: auto;
}

/*About me Paragraph*/
.AboutP {
    font-size: 16px;
    position: absolute;
    color: #ACACAC;
    margin: auto;
    top: 300px;
    right: 369px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}

/*About me Signature*/
.Signature {
    font-size: 48px;
    color: #F3BC17;
    margin: auto;
    position: absolute;
    right: 301px;
    top: 400px;
}

/*Button downlod CV*/
.dwnlod{
    background: #f3bc17;
    buttonwidth: 219px;
    height: 47px;
    border-radius: 34px;
    font-weight: 700;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    font-size: 16px;
    color: #010101;
    cursor: pointer;
}

hr{
    margin-bottom: 0px;
    margin-top: 0px;
    background-color: red;
}

/*=======================================================================================================*/
/*SERVICE SECTION*/
/*=======================================================================================================*/

.serp1, .serp2, .serp3, .serp4, .serp5 {
    font-size: 16px;
    position: absolute;
    color: #FFFFFF;
    margin: auto;
    top: 138px;
}

/*web design box*/
.webDesign {
    position: absolute;
    /*margin: auto;*/
    width: 389px;
    height: 376px;
    background: #242424;
    box-shadow: -23px -23px 45px #242424, 28px 28px 50px rgba(0, 0, 0, 0.25);
    left: 180px;
    top: 120px;
}

/*Customization box*/
.customiz {
    position: absolute;
    margin: auto;
    width: 389px;
    height: 376px;
    background: #242424;
    box-shadow: -23px -23px 45px #242424, 28px 28px 50px rgba(0, 0, 0, 0.25);
    top: 120px;
    right: 180px;
}

/*WebDevelopment box*/
.webDevelopment {
    position: absolute;
    margin: auto;
    width: 389px;
    height: 376px;
    background: #242424;
    box-shadow: -23px -23px 45px #242424, 28px 28px 50px rgba(0, 0, 0, 0.25);
    top: 330px;
    left: 350px;
}

/*UI/UX Deesign box*/
.UIUX {
    position: absolute;
    margin: auto;
    width: 389px;
    height: 376px;
    background: #242424;
    box-shadow: -23px -23px 45px #242424, 28px 28px 50px rgba(0, 0, 0, 0.25);
    top: 330px;
    right: 350px;
}

/*Mobile App Development box*/
.mobileApp {
    position: absolute;
    margin: auto;
    width: 389px;
    height: 235px;
    background: #242424;
    box-shadow: -23px -23px 45px #242424, 28px 28px 50px rgba(0, 0, 0, 0.25);
    top: 560px;
    left: 0;
    right: 0;
}

/*Web Design title*/
.t1webDesign {
    font-size: 16px;
    color: #E4EE89;
    margin: auto;
    top: 162px;
    left: 178px;
}

/*Customization title*/
.t2customization {
    font-size: 16px;
    color: #FFA500;
    margin: auto;
}

/*Web development title*/
.t3webdevelopment {
    font-size: 16px;
    color: #FD2155;
    margin: auto;
}

/*UI/UX design title*/
.t4UIUX {
    font-size: 16px;
    color: #7ED4F2;
    margin: auto;
}

/*mobile app development title*/
.t5mobileApp {
    font-size: 16px;
    color: #0AF0CD;
    margin: auto;
}
.img1{
    position: absolute;
    right: 0;
    top: 26px;
}

/*=======================================================================================================*/
/*SKILLS SECTION*/
/*=======================================================================================================*/

/*TiTle for Languages*/
.Lang {
    font-size: 24px;
    color: #F3BC17;
    position: absolute;
    margin: auto;
}

/*TiTle for tools*/
.tools {
    font-size: 24px;
    color: #F3BC17;
    position: absolute;
    margin: auto;
}

/*Span Language*/
.Lang2 {
    font-size: 24px;
    color: white;
    margin: auto;
}

/*Span tools*/
.tools2 {
    font-size: 24px;
    color: white;
    margin: auto;
}

/*=======================================================================================================*/
/*EDUCATION SECTION*/
/*=======================================================================================================*/

/*Description Education evels*/
.E1, .E2, .E3, .E4, .E5, .E6, .E7, .E8, .E9, .E10 {
    font-size: 16px;
    color: white;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    text-align: center;
}

/*Year for E1*/
.EY1 {
    font-size: 20px;
    color: #E4EE89;
    position: absolute;
    margin: auto;
    top: 30px;
}

/*Year for E2*/
.EY2 {
    font-size: 20px;
    color: #23C54B;
    position: absolute;
    margin: auto;
    top: 50px;
}

/*Year for E3*/
.EY3 {
    font-size: 20px;
    color: #FD2155;
    position: absolute;
    margin: auto;
    top: 70px;
}

/*Year for E4*/
.EY4 {
    font-size: 20px;
    color: #0AF0CD;
    position: absolute;
    margin: auto;
    top: 90px;
}

/*Year for E5*/
.EY5 {
    font-size: 20px;
    color: #7ED4F2;
    position: absolute;
    margin: auto;
    top: 110px;
}

/*=======================================================================================================*/
/*PROJECTS SECTION*/
/*=======================================================================================================*/


/*=======================================================================================================*/
/*GITHUB LINK*/

/*Github link box paragraph*/
.githubP {
    font-size: 24px;
    color: rgba(255, 255, 255, 0.5);
    margin: auto;
    text-align: center;
}

/*Button Github*/
.github{
    background: #f3bc17;
    buttonwidth: 207px;
    height: 47px;
    border-radius: 34px;
    font-weight: 700;
    padding-left: 30px;
    padding-right: 70px;
    text-align: left;
    font-size: 20px;
    color: #010101;
    cursor: pointer;
}

/*=======================================================================================================*/
/*CONTACT ME SECTION*/
/*=======================================================================================================*/

/*Have a Project......*/
.contactP1 {
    font-size: 16px;
    color: #F3BC17;
    position: absolute;
    margin: auto;
    top: 90px;
}

/*Let's make......*/
.contactP2 {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.5);
    position: absolute;
    margin: auto;
    top: 125px;
}

/*Email*/
.email1 {
    font-size: 16px;
    color: rgb(255, 255, 255);
    position: absolute;
    margin: auto;
    top: 300px;
}

/*Email*/
.email2 {
    font-size: 16px;
    color: rgb(255, 255, 255);
    position: absolute;
    margin: auto;
    top: 320px;
}

/*Address*/
.address1 {
    font-size: 16px;
    color: rgb(255, 255, 255);
    position: absolute;
    margin: auto;
    top: 350px;
}

/*Address*/
.address2 {
    font-size: 16px;
    color: rgb(255, 255, 255);
    position: absolute;
    margin: auto;
    top: 370px;
}

/*Contact*/
.contact1 {
    font-size: 16px;
    color: rgb(255, 255, 255);
    position: absolute;
    margin: auto;
    top: 400px;
}

/*Contact*/
.contact2 {
    font-size: 16px;
    color: rgb(255, 255, 255);
    position: absolute;
    margin: auto;
    top: 420px;
}

/*Button send Massages*/
.send{
    background: #f3bc17;
    buttonwidth: 238px;
    height: 47px;
    border-radius: 34px;
    font-weight: 800;
    padding-left: 30px;
    padding-right: 70px;
    text-align: left;
    font-size: 20px;
    color: #010101;
    cursor: pointer;
}

/*=======================================================================================================*/
/*FOOTER*/
/*=======================================================================================================*/

/*Customized footer*/
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    background-color: #242424;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666666;
    font-size: 20px;
}

/*Customize footer for bottom*/
html {
    position: relative;
    min-height: 100%;
}