body{
    background-color: #5c636a;
}

h1{
    position: absolute;
    left: 0;
    right: 0;
    top: 150px;
    margin: auto;
    width: max-content;
    padding-bottom: 15px;
    color: #FFFFFF;
    font-size: 48px;
    font-weight: bold;
}

#content{
    display: flex;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 260px;
    width: 80vw;
    justify-content: center;
}

#content> div{
    width: 200px;
    height: 80px;
    border: 1px solid #855630FF;
}

#btnStart{
    width: 150px;
    height: 50px;
    background-color: #0b2e13;
    color: white;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.68);
    margin-right: 10px;
}

#btnEnd{
    width: 150px;
    height: 50px;
    background-color: #4b0707;
    color: white;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.68);
    margin-left: 10px;
}

#btnContent{
    position: absolute;
    display: flex;
    width: 80vw;
    left: 0;
    right: 0;
    margin: auto;
    top: 434px;
    justify-content: center;
}