
body {
    background:;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}


.title {
    font-family: 'Berkshire Swash', cursive;
    font-weight: 700;
    font-size: 64px;
    text-align: center;
    margin-right: 100px;
    text-align: center;
}

#board {
    background-color: #000000;
    align-items: center;
    margin-top: 120px;
}

